body {
    margin: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url("1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
    border: 4px solid rgb(122, 114, 114); 
    position: relative;
}
.header h2{
    margin-left: 10px;
}
.heads {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    
}
.heads div a,.heads div{
    font-size: 18px;
    color: white;
    display: inline-block;
    box-shadow: 1px 1px 15px aqua,
                1px 1px 15px red,
                1px 1px 15px blue,
                1px 1px 15px green;
        
    border: 3px solid violet;
    box-sizing: border-box;
    text-decoration:none;
    border-radius: 25px;
    transition: 0.3s 0.3s transform; 

   
} 
.heads div a:hover{
    background-color: aqua;
    color: black;
    transform: translate(-10px,10px);
} 

.search{
    border: 2px solid ;
    color: aqua;
    margin-right: 10px;
    
}
.srch{
    background-color: rgb(226, 208, 208);
    height: 27px;
}
.btn{
    background-color: orangered;
    height: 27px;
    
}
.btn:focus,.srch:focus{
    background-color: aliceblue;
}


/* content */
.content{
    
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    
}
.welcome{
    margin-top: 3%;
    margin-left: 10%;
}
.h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.par{

    padding-left: 55px;
    
    font-size: 17px;
    
    line-height: 30px;
}

.cn{ 
    font-size: 17px;
    background-color: orangered;
    margin-left:22%;
    width: 70px;
    height: 30px;
}
.cn a{
    text-decoration: none;

}
.cn a:hover{
    color: aqua;
}

.frontpage{
    background-image: url("cardsatoru.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 3%;
    margin-left: 20%;
    width: 250px;
    height: 380px;
    background-color: aliceblue;
    color: aqua;
    transform-style: preserve-3d;
    transition: 1s 0.3s transform;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 1px 1px 15px aqua,
                1px 1px 15px red,
                1px 1px 15px blue,
                1px 1px 15px green;
    border-radius: 25%;
    position: relative;
}
.cardtitle{
    position: relative;
    left: 24%;
}
.frontpage:hover{
    transform: rotatey(360deg);   
      
}